In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('NYCBS_ONCOEMR_Appoint_20240701_ 74630.csv',delimiter='|')

# Convert 'Appointment Time' to HH:MM format
df['Appointment Time'] = pd.to_datetime(df['Appointment Time'], format='%H:%M:%S').dt.strftime('%H:%M')

# Convert 'Appointment Date' to MM-DD-YYYY format
df['Appointment Date'] = pd.to_datetime(df['Appointment Date'], format='%Y-%m-%d').dt.strftime('%m-%d-%Y')

df

,Patient MRN,Department ID,Department Name,Provider Name,Provider NPI,Appointment Date,Appointment Time,Appointment Type,Appointment Description,Appointment Status
0,7881363,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,05-29-2024,11:00,Return Patient,*RETIC COUNT,Other
1,7899172,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,01-11-2024,08:30,Return Patient,*MAGNESIUM,Other
2,8096475,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,03-06-2024,16:00,Return Patient,*B-12,Other
3,8132071,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,12-05-2023,10:00,Return Patient,*FERRITIN,Other
4,6930438,LH_JLB136228638_35,U - BKLYN - 86 SAINT FELIX STREET,ETWARU MD DHANAN,1.386620e+09,04-12-2024,00:00,Return Patient,MD,Cancelled/No Show
...,...,...,...,...,...,...,...,...,...,...
180136,7350210,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,03-28-2024,10:30,Return Patient,*0.9%NS 250,Other
180137,6940506,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,03-11-2024,09:45,Return Patient,*CBC/DIFF/PLATELETS,Other
180138,8011367,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,10-13-2023,12:30,Return Patient,*COMP METABOLIC PROFILE (CMP),Other
180139,6900644,LH_05XWDQQVT8E6RXZA0QKZ,RAD/ONC - TBH - BROOKLYN 121 DEKALB AVE,NaN,NaN,02-28-2024,16:15,Return Patient,FINANCIAL COUNSELOR,Completed
180140,7352507,LH_060DV34HDK5F3GZZ90H1,*MED/ONC - BROOKLYN - 86 FLEET PLACE,NaN,NaN,03-20-2024,11:00,Return Patient,*CBC/DIFF/PLATELETS,Other

In [6]:
df.to_csv('tst.csv')